$sizes: 100%, 49%, 32%, 23.5%, 18.4%;
$sizes-no-margin: 100%, 50, 33.33%, 25%, 20%;

@for $i from 1 through length($sizes) {
  $size: nth($sizes, $i);

  .row-#{$i} {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    & .grid-el {
      width: $size;
      margin: 1%;

      &:nth-of-type(#{$i}n+1){
        margin-left: 0;
      }

      &:nth-of-type(#{$i}n){
        margin-right: 0;
      }
    }
  }
}

@for $i from 1 through length($sizes) {
  $size: nth($sizes, $i);

  .row-#{$i}-no-margin {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    & .grid-el {
      width: $size;
    }
  }
}

/*!* Extra small devices (phones, 600px and down) *!*/
/*@media only screen and (max-width: 600px) {*/
